<%- include('partials/indexHeader.ejs') %>

<section class="index-body">
    <img src="images/stoic.png" alt="cool pic insert"/>
    <div class="circle-links">
        <a href="/blog" class="link link1">BLOGS</a>
        <a href="/vision" class="link link2">VISION BOARD</a>
        <a href="/video" class="link link3">VIDEOS</a>
        <a href="/book" class="link link4">BOOKS</a>
        <a href="/quote" class="link link5">QUOTES</a>
    </div>
</section>

<%- include('partials/footer.ejs') %>